@charset "ISO-8859-1";

body {
	width: 97%;
	margin: 25px 25px;
	background: #00BFFF;
}

img {
	border-radius: 100%
}

div {
	padding-right: 100px;
	display: inline-block;
}

.titulo-principal {
	background: #87CEEB;
	padding-left: 20px;
	text-align: center;
}

.label {
	padding-left: 50px;
	text-align: right;
}

/*MARGIN - superior, direito, inferior e esquerdo, nesta ordem*/
.imagem {
	height: 50%;
	width: 50%;
	margin: -240px -300px -1000px 900px;
	
	/*position: static;*/
}

.btn{
	height: 60%;
	width: 60%;
	margin: 0 250px 0 0;
}
